body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
}
#refresh {
  display: none;
}
.hidden {
  visibility: hidden;
}
.img {
  width: 200px;
  height: auto;
  margin: 5px
}
#submit {
  text-align: center;
}

